*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

/* Top player */
main{
    display: flex;
    justify-content: center;
}
.contanier{  
    width: 870px;
    background-color: aqua;
}
.players{
     
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.player{
    margin: 20px;
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;

}